# Ignore bin directory
/bin/

# Ignore build files
/build/

# Ignore Eclipse project files
/.project
/.classpath
/.settings/

# Ignore IntelliJ IDEA project files
/.idea/
/*.iml

# Ignore NetBeans project files
/nbproject/

# Ignore Java specific files
*.class
*.log
*.jar
*.war
*.ear
*.out

# Ignore compiled artifacts
*.class

# Ignore MacOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db
